blinker
bzip2
ca-certificates
click
colorama
expat
flask
flask_cors
itsdangerous
jinja2
libffi
libmpdec
markupsafe
openssl
pip
psycopg
python
python-dotenv
python_abi
setuptools
six
tk
tzdata
vc
vs2015_runtime
werkzeug
wheel
xz
zlib